{% extends 'base.html' %}
{% load static %}
{% block content %}
<script>
    var newTitle = "StoryYatra | About"
    window.onload = function() {
        changeTitle(newTitle);
    }
</script>
<div class="row About_Head">
    <div class=" col-lg-12 col-md-12 col-xs-12 About_Head_Img ">
        <img src="{% static '/storyyatra/img/panorma.webp' %}" alt="Card image">
    </div>
    <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-xs-12 About_Head_Text">
            <h2>Story-यात्रा</h2>
            <h5>nayee rahe. yahi chahe</h5>
            
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
   <div class="row">
        <div class="col-md-10">
            <h2>My Story</h2>
            <p>As I witnessed other travelers exploring new horizons,
            traversing winding roads and conquering majestic hills,
            my mind would drift into a realm of daydreams filled with those very places.
            Fueled by that longing, I made a resolute choice to embark on my own journey,
            capturing the enchanting stories that unfold along the way.</p>
        </div>
    </div>
    <div class="row">    
        <div class="col-md-10">
            <h2>Your Yatra</h2>
            <p>Welcome to StoryYatra, your ultimate destination for immersive travel tales and unforgettable journeys! At StoryYatra, we believe that every adventure begins with a story waiting to be told. Whether you're a seasoned traveler or an aspiring wanderer, our blog is here to inspire, inform, and ignite your wanderlust.</p>

<p>We are passionate storytellers and travel enthusiasts is dedicated to bringing you captivating narratives from around the globe. We explore diverse cultures, uncover hidden gems, and delve into the essence of each destination we visit. From bustling metropolises to remote wilderness, we strive to capture the spirit and soul of every place we encounter.</p>

<p>But StoryYatra is more than just a collection of travel stories. We aim to provide practical tips, insightful advice, and useful resources to help you plan your own extraordinary journeys. Whether you're seeking advice on budget travel, solo adventures, family-friendly destinations, or off-the-beaten-path experiences, our blog is your compass for turning dreams into reality.</p>

<p>Join us as we share personal anecdotes, in-depth travel guides, stunning photography, and practical travel tips. Explore the pages of our blog and let us take you on a virtual journey to breathtaking landscapes, vibrant cities, and the hearts of diverse cultures. Get ready to embark on an unforgettable adventure with StoryYatra!</p>


<p>Happy exploring,
The StoryYatra Team</p>
        </div>
    </div>
  </div>
</div>

{% endblock %}