{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row About_Head">
  <div class=" col-lg-12 col-md-12 col-xs-12 About_Head_Img ">
    <img src="{% static '/storyyatra/img/panorma.webp' %}" alt="Card image">
  </div>
  <div class="row text-center">
    <div class="col-lg-12 col-md-12 col-xs-12 About_Head_Text">
      <h2>Story-यात्रा</h2>
      <h5>nayee rahe. yahi chahe</h5>
      <h1 id="countryname" style="text-transform: capitalize; color: black;">{{cname}}</h1>
      <!-- <p class="">Last updated 3 mins ago</p> -->
    </div>

  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-3 col-xs-12">
    <ul class="state-ul">
      {% for state in states %}
      <li class="state-li" data-state="{{ state.state }}">{{ state.state }}</li>
      {% endfor %}

    </ul>
  </div>
  <div class="col-lg-7 col-md-7 col-xs-12 homebloglist" id="state-blogs">


  </div>

</div>
<script>
  var title = document.getElementById("countryname").textContent.toUpperCase();
  var newTitle = "StoryYatar | " + title;
  window.onload = function() {
      changeTitle(newTitle);
  }
</script>

<script>
  $(document).ready(function () {
    $('.state-li').click(function () {
      var state = $(this).data('state');
      $.ajax({
        url: '/get-state-blog/',
        method: 'GET',
        data: { state: state },
        success: function (response) {
          // handle the response from the server
          var data = response.data;
          console.log("printin data", data);
          var html = '';
          for (var i = 0; i < data.length; i++) {
            html += '<a href="/detailed_blog/' + data[i].id + '">' +
              '<div class="card mb-3 no-gutters"><div class="row "> <div class="col-md-4"><img src="/media/' + data[i].photo_1 +'"style="height: 24vh; width: auto;" /></div>'+
                  '<div class="col-md-8">'+
              '<div class="card-body">'+
                      '<h5 class="card-title">' + data[i].title +'</h5>'+
                      '<p class="card-text">'+ data[i].description + '<i>By '+ data[i].author +'</i></p>'+
                      '<div class="row">'+
                        '<div class="col-lg-8 col-md-8">'+
                          '<p class="card-text"><small class="text-muted">'+ data[i].sincePost +' </small></p>'+
                        '</div>'+
                        '<div class="col-lg-4 col-md-4">'+
                          '<p class="card-text text-right">Like:'+ data[i].likes +'</p>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</div></a>';
          }
          $('#state-blogs').html(html);
        },
        error: function (xhr, status, error) {
          console.error(xhr.responseText);
        }
      });
    });

    // clear the div when another button is clicked
    $('.state-li').click(function () {
      $('#state-blogs').html('');
    });
  });
</script>

{% endblock %}